{% extends 'base.html' %}

{% block content %}

<div class="container mt-5 p-0">
    <div id="titulo-pagina " class="my-5 d-flex justify-content-between align-items-center">
        <h2 class="d-inline mt-5 col-8 m-0">Relatórios</h2>
    </div>
    <div class="d-flex flex-wrap justify-content-center">
        {% for report in open_reports %}
            <div class="card-relatAberto border mt-4 me-2 col-2 p-2 rounded-4 bg-white">
                <div class="text-center d-flex flex-column">
                    <div class="mb-1">
                        {% if report.turno == 'noturno' %}
                            <i class="bi bi-moon-stars-fill text-light-emphasis" style="font-size: 4.5rem;"></i>
                        {% else %}
                            <i class="bi bi-sun-fill text-light-emphasis" style="font-size: 4.5rem;"></i>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <h3 class="mb-0"><strong>Isaias</strong></h3>
                        <p class="text-secondary mb-1">{{ report.dia }}</p>
                        {% if report.status == True %}
                            <span class="bg-success-subtle p-1 rounded-pill text-success border border-success">Aberto</span>
                        {% else %}
                            <span class="bg-danger-subtle p-1 rounded-pill text-danger border border-danger">Fechado</span>
                        {% endif %}
                    </div>
                    <div>
                        <a href="{{url_for('relatorio', id_relatorio=report.id, empresa='Athon', ufv='Brasilia 100')}}">
                            <button class="btn btn-secondary col-9">Visualizar</button>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
        {% for report in closed_reports %}
            <div class="card-relatAberto border mt-4 me-2 col-2 p-2 rounded-4 bg-white">
                <div class="text-center d-flex flex-column">
                    <div class="mb-1">
                        {% if report.turno == 'noturno' %}
                            <i class="bi bi-moon-stars-fill text-light-emphasis" style="font-size: 4.5rem;"></i>
                        {% else %}
                            <i class="bi bi-sun-fill text-light-emphasis" style="font-size: 4.5rem;"></i>
                        {% endif %}
                    </div>
                    <div class="mb-4">
                        <h3 class="mb-0"><strong>Isaias</strong></h3>
                        <p class="text-secondary mb-1">{{ report.dia }}</p>
                        {% if report.status == True %}
                            <span class="bg-success-subtle p-1 rounded-pill text-success border border-success">Aberto</span>
                        {% else %}
                            <span class="bg-danger-subtle p-1 rounded-pill text-danger border border-danger">Fechado</span>
                        {% endif %}
                    </div>
                    <div>
                        <a href="{{url_for('relatorio', id_relatorio=report.id, empresa='Athon', ufv='Brasilia 100')}}">
                            <button class="btn btn-secondary col-9">Visualizar</button>
                        </a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>

<script>
    document.getElementById('icon-relatorios').classList.add('bg-body-secondary')
  </script>

{% endblock %}